<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ai.7verse.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.57085706792-huomiuenpnski09lqttclg30ojri9cms</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>57085706792-huomiuenpnski09lqttclg30ojri9cms.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to allow web interactions that use your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to allow web interactions that use your microphone.</string>
</dict>
</plist>
